.userInteraction {
    border: solid 1px #C4C8CC;
    display: flex;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    margin: 0 10px 0 0;
}

.userInteraction__image {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    padding: 5px;
    border-right: solid 1px #C4C8CC;
    background: linear-gradient(#F9FAFB, #EFF3F6);
}

.userInteraction__imageInner {
    max-height: 14px;
    margin: 0 0 0 5px;
}

.userInteraction__value {
    padding: 5px;
}
